<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    Employee Review System
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li>
                   <bold>Hi!</bold> 
                   <%if(locals.user.isAdmin){%>
                    <a href="/admin"><%= user.name %> - ADMIN DASHBOARD</a>
                 <%  }else{%>
                    <a href="/"><%= user.name %></a>
                  <% }%>
                   
                </li>
                <li>
                    <a href="/admin/perfomace-review">Performance Review</a>
                </li>
                <li>
                    <a href="/users/sign-out">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/users/sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>
 


</header>