
<div id="sign-up-container" class="w-50 mx-auto mt-5"  >
    <%- include('partials/_back_home'); %>
  <div class="mx-auto mt-3 mb-4" style="width: 100px">
    <h4>Add Employee</h4>
  </div>

  <form action="/admin/create-employee" method="POST" >
    <div class="mb3">   
      <label for="empid" class="form-label">Employee ID</label>
      <input type="text" class="form-control" id="empid" name="employeeID" placeholder="ABC001" minlength="6" required/>
    </div>
  <div class="mb3">   
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required/>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="abc@email.com" name="email" required />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Set Default Password" required />
    </div>

    <div class="mb-3">
      <label for="Password" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required />
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role:</label>
      <label for="admin" class="form-label"><input type="radio" class="form-control" id="admin" name="isAdmin" value="true"/>Admin</label>
      <label for="emp" class="form-label"><input type="radio" class="form-control" id="emp" name="isAdmin"  value="false"  />Employee</label>
    </div>

    <div class="mb-4 mt-3" style="display: flex; justify-content: center">
      <button type="submit" class="btn btn-success btn-block mb-4">Add Employee</button>
    </div>
  </form>
  </div>